Repository MFlowCode/MFC, pull requests merged in 2024-07, with the labels that each got.

#500 Update coverage.yml
  .github/workflows/coverage.yml
Labels: continuous-integration

#505 Fix requirement for node20 for checkout
  .github/workflows/bench.yml
  .github/workflows/test.yml
Labels: continuous-integration

#506 Remove stale files and info.
  docs/documentation/case.md
  misc/profiling_amdgpu.md
  misc/profiling_amdgpu.txt
  misc/run-phoenix-release-cpu.sh
  misc/run-phoenix-release-gpu.sh
  misc/update_license.sh
  src/post_process/m_data_output.fpp
Labels: documentation, enhancement

#510 don't benchmark if no code is changed
  .github/workflows/bench.yml
Labels: continuous-integration

#511 Satiate spellchecker
  .typos.toml
  src/pre_process/m_grid.f90
  src/simulation/m_cbc.fpp
Labels: continuous-integration

#517 Fail a CI self-hosted job if frontier doesn't get a node
  .github/workflows/test.yml
Labels: continuous-integration

#519 Fix 3D IBM Infinite CFL Number on GPUs
  src/simulation/m_start_up.fpp
  src/simulation/m_time_steppers.fpp
Labels: enhancement

#537 Correct performance metrics!
  docs/documentation/expectedPerformance.md
Labels: documentation

#539 Update expectedPerformance.md
  docs/documentation/expectedPerformance.md
  docs/documentation/readme.md
Labels: documentation

#541 Add MI100
  docs/documentation/expectedPerformance.md
Labels: documentation

#546 Adds more performance metrics/benchmarks to docs
  docs/documentation/expectedPerformance.md
Labels: documentation

#549 icelake performance
  docs/documentation/expectedPerformance.md
Labels: documentation
